@(drugsByName: List[Drug], drugsByIngredient: List[Drug])
@main("Pharmacy | Search") {

	<h1>Pharmacy</h1>
	<h2>Search</h2>
	
	<h2>Found @drugsByName.size() drugs with this name</h2>
	<ol>
		@for(drug <- drugsByName) {
			<li>
				<a href="@routes.Drugs.show(drug.id)"><p>Name: @drug.name</p></a>
				<p>Id: @drug.id</p>
				<p>Description: @drug.description</p>
				<p>Active ingredient: @drug.activeIngredient</p>
				<p>Price: @drug.price</p>
				<p>Quantity: @drug.quantity</p>
				<p>Is prescribed: @drug.isPrescribed</p>
			</li>
			<p>
				<a href="@routes.Drugs.delete(drug.id)">Delete</a>
				<a href="YOLO">Edit</a>
			</p>
		}
	</ol>
	<h2>Found @drugsByIngredient.size() containing this active ingredient</h2>
	<ol>
		@for(drug <- drugsByIngredient) {
			<li>
				<a href="@routes.Drugs.show(drug.id)"><p>Name: @drug.name</p></a>
				<p>Id: @drug.id</p>
				<p>Description: @drug.description</p>
				<p>Active ingredient: @drug.activeIngredient</p>
				<p>Price: @drug.price</p>
				<p>Quantity: @drug.quantity</p>
				<p>Is prescribed: @drug.isPrescribed</p>
			</li>
			<p>
				<a href="@routes.Drugs.delete(drug.id)">Delete</a>
				<a href="YOLO">Edit</a>
			</p>
		}
		</ol>
    
    
}
